body {
  font-family: 'Open Sans', sans-serif;
}
h2{
  text-shadow: black 1px 0 10px;
}
#main-menu .nav-bar { list-style:none; margin-top: 40px; }
#main-menu .nav-bar li { display:inline; padding:0 10px; }
#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: #333;
	text-shadow: 1px 1px 1px #ccc;
}

* {
  box-sizing: border-box;
}
.color-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.color {
  display: flex;
 flex-direction: column;
 flex: 1 0 10em;
 box-shadow: 0 0 30px #424242;
 overflow: hidden;
padding: 1em;
color: white;
transition: flex-basis 500ms ease-in-out;
}
.color:hover {
  flex-basis: 20em;
 }
 .color:hover .details {
  opacity: 1;
}

.name {
  font-size: 1.2em;
  font-weight: 600;
}

.details {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.details li {
  font-size: 1em;
  line-height: 2em;
  text-shadow: black 1px 0 10px;
}
flex-direction: row;
 }

 .color {
   flex-shrink: 1;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

@media (min-width: 600px) {
  .color-list {
