
html, body {

width: 100%;
height: 100%;
background-color: #d9d6bf;
}
#primary_nav_wrap
{
	margin-top:0px;
  height: 32px;
align-items: center;

}
#primary_nav_wrap:hover
{
	margin-top:0px;
  height: 250px;
align-items: center;

}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:center;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:16px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#f4c2c2;
}

#primary_nav_wrap ul li:hover
{
	background:#f5f5dc;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
	
}

#primary_nav_wrap ul li:hover > ul
{
	display:block

}



div {
align-items:baseline;
display: inline-block;
  border: 1px solid black;
  width: 100%;
  height: 30%;
  position: relative;
  margin-top:0px;

}
div:hover {
display: inline-grid;
}
p {
  font-size: 2em;
  position: absolute;
  bottom: 0;
  padding-left: 1.5em;
  margin-bottom: 5em;
  text-transform: uppercase;
  color: black;
	opacity: 10;
  text-align: center;
	font-family: impact;
}
p2{
	font-size: 2em;
  position: absolute;
  bottom: 0;
  padding-left: 1.5em;
  margin-bottom: 5em;
  text-transform: uppercase;
	opacity: 10;
  text-align: center;
	font-family: impact;
	color: white;
}

.carmine { background: #ff0038; }
.ivory { background: #ffffd7; }
.green { background: #008000; }
.darkblue { background: #00304f; }
.white { background: #ffffff; }
.peacockgreen { background: #00A989; }
.sapphire { background: #0f52ba; }
.silver { background: #c0c0c0; }
.black { background: #000000; }
.babypink  { background: #f4c2c2; }
.horizonblue { background: #066ad7; }
.palemist { background: #d9d6bf; }
.cherryrose { background: #ffe4e1; }
.pearlgrey { background: #CCD3D1; }
.beige { background: #f5f5dc; }
.camel { background: #c19a6b; }
.khaki { background: #C3B091; }
.mistgreen { background: #d4dbb2; }
.pinkbeige { background: #b39283; }
.paleblue { background: #a4d4d9; }
.pigeon { background: #b9beaa; }
.mistyrose { background: #ffe4e1; }
.sendbeige { background: #C4C4B0; }
.powderblue { background: #b0e0e6; }
.slateblue { background: #6a5acd; }
.mediumgrey { background: #A9A9A9; }
.mahogany { background: #670a0a; }
.coffeebrown { background: #593c1f; }
.brown { background: #a52a2a; }
.darkpurple { background: #35063e; }
.darkolive { background: #556b2f; }
.olivebrown { background: #6f4f28; }
.darkgreen { background: #002800; }
.prussianblue { background: #003153; }
.charcoalgrey { background: #393a3b; }
